body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#f5f5f5;
font-family:Arial;
}

.price-card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px gray;
text-align:center;
width:300px;
}

ul{
list-style:none;
padding:0;
}

li{
margin:10px 0;
}

button{
background:#673ab7;
color:white;
padding:10px 20px;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#512da8;
}